
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundle/cssCustom")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="body d-md-flex align-items-center justify-content-between">
            <div class="box-1 mt-md-0 mt-5">
                <img src="https://img.lovepik.com/background/20211101/medium/lovepik-security-technology-mobile-phone-wallpaper-background-image_400507494.jpg"
                     class="" alt="" />
            </div>

            <!-- Login -->
            <div id="containerLogin" style="background-color:white;" class=" box-2 d-flex flex-column h-100 overflow-auto">
                <form method="post" action="@Url.Action("Index","Registrar")">

                    <div class="mt-5 ">
                        <p class="mb-1 h-1">Registrarse</p>
                        <p class="text-muted mb-2">Ingresa tus datos para registrarse.</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-user" id="basic-addon1"></span>
                            </div>
                            <input type="text" name="name" class="form-control" placeholder="Nombre" aria-label="nombre" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-user" id="basic-addon1"></span>
                            </div>
                            <input type="text" name="firtName" class="form-control" placeholder="Apellido Paterno" aria-label="firt_name" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-user" id="basic-addon1"></span>
                            </div>
                            <input type="text" name="lastName" class="form-control" placeholder="Apellido Materno" aria-label="last_name" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-map-marker-alt" id="basic-addon1"></span>
                            </div>
                            <input type="text" name="address" class="form-control" placeholder="Direccion" aria-label="address" aria-describedby="basic-addon1" required>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-envelope" id="basic-addon1"></span>
                            </div>
                            <input type="email" name="email" class="form-control" placeholder="Correo" aria-label="Nombre" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-key" id="basic-addon1"></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="Contrasena" aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-lock" id="basic-addon1"></span>
                            </div>
                            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirmar Contrasena" aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-warning btn-block" value="Registrarse" />
                </form>
                @*@Html.ActionLink("Volver", "Index", "Login", null, htmlAttributes: new { @class = "btn btn-warning" })*@

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Ya tienes cuenta? <a href="@Url.Action("Index","Login")" class="ml-2">Iniciar Sesion</a>
                    </div>
                </div>
                <div class="mt-auto">
                    <p class="footer text-muted mb-0 mt-md-0 mt-4">
                        Al registrarse aceptas los
                        <span class="p-color me-1">Terminos y Condiciones</span>y las
                        <span class="p-color ms-1">Politicas de privacidad</span>
                    </p>
                </div>
            </div>
            <span class="fas fa-times"></span>
        </div>
    </div>

    <script type="text/javascript">

        function AbrirLogin() {
            $("#containerLogin").show();
            $("#containerRegistrar").hide();
        }

        function AbrirRegistrar() {
            $("#containerLogin").hide();
            $("#containerRegistrar").show();
        }


    </script>
    @Scripts.Render("~/bundles/jquery")
</body>
</html>