@model Entidades.Tarjeta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.noTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ccv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ccv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreTitular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreTitular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("regresar al menu", "Index")
</p>
